-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'SALES');

-- CreateEnum
CREATE TYPE "ContentStatus" AS ENUM ('DRAFT', 'APPROVED', 'SCHEDULED', 'PUBLISHING', 'PUBLISHED', 'REJECTED', 'FAILED');

-- CreateEnum
CREATE TYPE "LeadStatus" AS ENUM ('NEW', 'CONTACTED', 'QUALIFIED', 'CONVERTED', 'LOST');

-- CreateEnum
CREATE TYPE "InsightStatus" AS ENUM ('NEW', 'PENDING_REVIEW', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "WorkflowStatus" AS ENUM ('PENDING', 'RUNNING', 'WAITING_APPROVAL', 'COMPLETED', 'FAILED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "RecruitmentMarket" AS ENUM ('JAPAN', 'GERMANY', 'KOREA', 'TAIWAN', 'DOMESTIC', 'OTHER');

-- CreateEnum
CREATE TYPE "VisaType" AS ENUM ('TOKUTEI', 'ENGINEER', 'TRAINEE', 'STUDENT', 'GERMANY_PROGRAM', 'KOREA_EPS', 'DOMESTIC_JOB', 'OTHER');

-- CreateEnum
CREATE TYPE "JobOrderStatus" AS ENUM ('OPEN', 'PAUSED', 'CLOSED', 'FILLED');

-- CreateEnum
CREATE TYPE "CandidateStage" AS ENUM ('NEW', 'CONSULTING', 'PROFILE_COLLECTED', 'MATCHED', 'INTERVIEW_SCHEDULED', 'INTERVIEW_PASSED', 'COE_VISA', 'DEPARTED', 'WITHDRAWN', 'REJECTED');

-- CreateEnum
CREATE TYPE "TrendStatus" AS ENUM ('DISCOVERED', 'REVIEWED', 'ADOPTED', 'DISMISSED');

-- CreateEnum
CREATE TYPE "ContentPlanStatus" AS ENUM ('DRAFT', 'ACTIVE', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "ReportType" AS ENUM ('WEEKLY', 'MONTHLY');

-- CreateEnum
CREATE TYPE "ReportStatus" AS ENUM ('DRAFT', 'IN_REVIEW', 'APPROVED', 'ARCHIVED', 'INSUFFICIENT_DATA');

-- CreateEnum
CREATE TYPE "DocSubmissionStatus" AS ENUM ('PENDING', 'SUBMITTED', 'VERIFIED', 'REJECTED');

-- CreateEnum
CREATE TYPE "DocSource" AS ENUM ('DEFAULT', 'CUSTOM');

-- CreateEnum
CREATE TYPE "IntakeChannel" AS ENUM ('FACEBOOK', 'ZALO', 'WEBSITE');

-- CreateEnum
CREATE TYPE "IntakeStatus" AS ENUM ('ACTIVE', 'COMPLETED', 'HANDED_OFF', 'ABANDONED');

-- CreateEnum
CREATE TYPE "IntakeDirection" AS ENUM ('INBOUND', 'OUTBOUND');

-- CreateEnum
CREATE TYPE "PartnerType" AS ENUM ('EMPLOYER', 'SCHOOL', 'BROKER', 'SERVICE');

-- CreateEnum
CREATE TYPE "PartnerStatus" AS ENUM ('ACTIVE', 'PAUSED', 'ENDED');

-- CreateEnum
CREATE TYPE "DestinationStatus" AS ENUM ('OPEN', 'PAUSED', 'CLOSED');

-- CreateEnum
CREATE TYPE "VisaCaseStatus" AS ENUM ('OPEN', 'IN_PROGRESS', 'SUBMITTED', 'APPROVED', 'REJECTED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "VisaTaskStatus" AS ENUM ('PENDING', 'IN_PROGRESS', 'DONE', 'BLOCKED');

-- CreateEnum
CREATE TYPE "VisaTaskCategory" AS ENUM ('DOCUMENT', 'INSURANCE', 'FLIGHT', 'HOUSING', 'PICKUP', 'FEE', 'OTHER');

-- CreateEnum
CREATE TYPE "FollowUpStatus" AS ENUM ('PENDING', 'SENT', 'SKIPPED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "EssayDocType" AS ENUM ('SOP', 'MOTIVATION', 'CV');

-- CreateEnum
CREATE TYPE "EssayStatus" AS ENUM ('DRAFT', 'IN_REVIEW', 'APPROVED', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "ApplicationStatus" AS ENUM ('PLANNING', 'SUBMITTED', 'OFFER', 'VISA', 'ENROLLED', 'WITHDRAWN', 'REJECTED');

-- CreateEnum
CREATE TYPE "ConsentSubjectType" AS ENUM ('LEAD', 'CANDIDATE', 'INTAKE');

-- CreateEnum
CREATE TYPE "ConsentScope" AS ENUM ('DATA_PROCESSING', 'MARKETING', 'CROSS_BORDER_AI');

-- CreateEnum
CREATE TYPE "ConsentAction" AS ENUM ('GRANTED', 'WITHDRAWN');

-- CreateEnum
CREATE TYPE "ErasureStatus" AS ENUM ('REQUESTED', 'COMPLETED', 'REJECTED');

-- CreateTable
CREATE TABLE "UserAccount" (
    "id" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'ADMIN',
    "failedLoginCount" INTEGER NOT NULL DEFAULT 0,
    "locked" BOOLEAN NOT NULL DEFAULT false,
    "lockedAt" TIMESTAMP(3),
    "lockedUntil" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserAccount_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "JwtSession" (
    "sessionId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "accessExpiresAt" TIMESTAMP(3) NOT NULL,
    "refreshExpiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "revokedAt" TIMESTAMP(3),

    CONSTRAINT "JwtSession_pkey" PRIMARY KEY ("sessionId")
);

-- CreateTable
CREATE TABLE "PlatformToken" (
    "id" TEXT NOT NULL,
    "platform" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3),
    "refreshWindowSeconds" INTEGER NOT NULL DEFAULT 86400,
    "status" TEXT NOT NULL DEFAULT 'VALID',
    "lastRefreshFailureReason" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PlatformToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DomainContext" (
    "id" TEXT NOT NULL,
    "domainName" TEXT NOT NULL,
    "contextDescription" TEXT NOT NULL DEFAULT '',
    "defaultToneOfVoice" TEXT NOT NULL DEFAULT 'friendly',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DomainContext_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContentPersona" (
    "id" TEXT NOT NULL,
    "domainId" TEXT NOT NULL,
    "personaName" TEXT NOT NULL,
    "age" TEXT NOT NULL,
    "interests" TEXT NOT NULL DEFAULT '',
    "targetNeeds" TEXT NOT NULL,
    "painPoints" TEXT NOT NULL,
    "toneOfVoice" TEXT NOT NULL,
    "recommendedTone" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ContentPersona_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContentDraft" (
    "id" TEXT NOT NULL,
    "domainId" TEXT NOT NULL,
    "personaId" TEXT NOT NULL,
    "objective" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "status" "ContentStatus" NOT NULL DEFAULT 'DRAFT',
    "generatedWithoutFeedback" BOOLEAN NOT NULL DEFAULT false,
    "rejectionReason" TEXT,
    "previewPresented" BOOLEAN NOT NULL DEFAULT false,
    "format" TEXT NOT NULL DEFAULT 'GENERIC',
    "market" TEXT,
    "language" TEXT NOT NULL DEFAULT 'vi',
    "planItemId" TEXT,
    "seoKeywords" JSONB NOT NULL DEFAULT '[]',
    "priorityIndex" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ContentDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DraftCta" (
    "id" TEXT NOT NULL,
    "draftId" TEXT NOT NULL,
    "ctaText" TEXT NOT NULL,

    CONSTRAINT "DraftCta_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MediaAsset" (
    "id" TEXT NOT NULL,
    "draftId" TEXT NOT NULL,
    "kind" TEXT NOT NULL,
    "storageKey" TEXT NOT NULL,
    "mimeType" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MediaAsset_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ScheduledPost" (
    "id" TEXT NOT NULL,
    "draftId" TEXT NOT NULL,
    "platform" TEXT NOT NULL,
    "scheduledAt" TIMESTAMP(3) NOT NULL,
    "status" "ContentStatus" NOT NULL DEFAULT 'SCHEDULED',
    "idempotencyKey" TEXT NOT NULL,
    "externalPostId" TEXT,
    "postUrl" TEXT,
    "errorCode" TEXT,
    "failureReason" TEXT,
    "retryCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ScheduledPost_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AnalyticsRecord" (
    "id" TEXT NOT NULL,
    "publishedPostId" TEXT NOT NULL,
    "platform" TEXT NOT NULL,
    "views" INTEGER,
    "likes" INTEGER,
    "shares" INTEGER,
    "comments" INTEGER,
    "follows" INTEGER,
    "leads" INTEGER,
    "clickThrough" INTEGER,
    "reach" INTEGER,
    "collectedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AnalyticsRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PerformanceRecord" (
    "id" TEXT NOT NULL,
    "postId" TEXT NOT NULL,
    "domainCategory" TEXT NOT NULL,
    "contentTopic" TEXT NOT NULL,
    "personaId" TEXT NOT NULL,
    "toneOfVoice" TEXT NOT NULL,
    "objective" TEXT NOT NULL,
    "platform" TEXT NOT NULL,
    "postTimeSlot" TEXT NOT NULL,
    "contentLength" INTEGER NOT NULL,
    "hasCta" BOOLEAN NOT NULL,
    "ctaType" TEXT NOT NULL,
    "mediaType" TEXT NOT NULL,
    "conversionRate" DOUBLE PRECISION NOT NULL,
    "engagementRate" DOUBLE PRECISION NOT NULL,
    "ctaClickRate" DOUBLE PRECISION NOT NULL,
    "followRate" DOUBLE PRECISION,
    "performanceLabel" TEXT NOT NULL,
    "scoredAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PerformanceRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LearningInsight" (
    "id" TEXT NOT NULL,
    "insightType" TEXT NOT NULL,
    "insightStatus" "InsightStatus" NOT NULL DEFAULT 'NEW',
    "subject" JSONB NOT NULL,
    "metrics" JSONB NOT NULL,
    "recommendedChange" JSONB NOT NULL,
    "modifiedChange" JSONB,
    "confidenceScore" DOUBLE PRECISION NOT NULL,
    "sampleSize" INTEGER NOT NULL,
    "analysisPeriod" TEXT NOT NULL,
    "rejectionReason" TEXT,
    "generatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "priorityIndex" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "LearningInsight_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AiPromptContext" (
    "id" TEXT NOT NULL,
    "contextVersion" TEXT NOT NULL,
    "lastUpdatedFromAnalytics" TIMESTAMP(3),
    "topPerformingTopics" JSONB NOT NULL,
    "bestCtaPatterns" JSONB NOT NULL,
    "avoidTopics" JSONB NOT NULL,
    "optimalContentLength" JSONB NOT NULL,
    "toneRecommendations" JSONB NOT NULL,
    "optimalSchedules" JSONB NOT NULL,

    CONSTRAINT "AiPromptContext_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditEntry" (
    "id" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "insightId" TEXT NOT NULL,
    "actor" TEXT NOT NULL,
    "detail" JSONB NOT NULL,
    "recordedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Lead" (
    "leadId" TEXT NOT NULL,
    "name" TEXT,
    "phone" TEXT,
    "email" TEXT,
    "source" TEXT NOT NULL,
    "platform" TEXT NOT NULL,
    "utmSource" TEXT,
    "utmMedium" TEXT,
    "utmCampaign" TEXT,
    "contentPostId" TEXT NOT NULL,
    "domainCategory" TEXT,
    "contentTopic" TEXT,
    "status" "LeadStatus" NOT NULL DEFAULT 'NEW',
    "note" TEXT,
    "assignedTo" TEXT,
    "unattributed" BOOLEAN NOT NULL DEFAULT false,
    "dedupKey" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Lead_pkey" PRIMARY KEY ("leadId")
);

-- CreateTable
CREATE TABLE "LeadHistoryEntry" (
    "id" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "previousStatus" TEXT NOT NULL,
    "newStatus" TEXT NOT NULL,
    "note" TEXT,
    "assignedTo" TEXT,
    "actor" TEXT NOT NULL,
    "changedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LeadHistoryEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TokenAlert" (
    "id" TEXT NOT NULL,
    "platform" TEXT NOT NULL,
    "kind" TEXT NOT NULL,
    "reason" TEXT,
    "raisedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TokenAlert_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ServiceAccount" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "credentialHash" TEXT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ServiceAccount_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ServicePermission" (
    "id" TEXT NOT NULL,
    "serviceAccountId" TEXT NOT NULL,
    "module" TEXT NOT NULL,
    "action" TEXT NOT NULL,

    CONSTRAINT "ServicePermission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LeadAssignment" (
    "id" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "assignedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LeadAssignment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WorkflowRun" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "status" "WorkflowStatus" NOT NULL DEFAULT 'PENDING',
    "currentStep" TEXT,
    "context" JSONB NOT NULL,
    "error" TEXT,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WorkflowRun_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WorkflowStep" (
    "id" TEXT NOT NULL,
    "runId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "input" JSONB,
    "output" JSONB,
    "error" TEXT,
    "startedAt" TIMESTAMP(3),
    "finishedAt" TIMESTAMP(3),
    "orderIndex" INTEGER NOT NULL,

    CONSTRAINT "WorkflowStep_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Branch" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "city" TEXT NOT NULL DEFAULT '',
    "address" TEXT NOT NULL DEFAULT '',
    "phone" TEXT NOT NULL DEFAULT '',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Branch_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "JobOrder" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "industry" TEXT NOT NULL DEFAULT '',
    "visaType" "VisaType" NOT NULL DEFAULT 'TOKUTEI',
    "market" "RecruitmentMarket" NOT NULL DEFAULT 'JAPAN',
    "workLocation" TEXT NOT NULL DEFAULT '',
    "salaryText" TEXT NOT NULL DEFAULT '',
    "salaryMinVndM" INTEGER,
    "salaryMaxVndM" INTEGER,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "gender" TEXT NOT NULL DEFAULT 'ANY',
    "nationalityReq" TEXT NOT NULL DEFAULT '',
    "status" "JobOrderStatus" NOT NULL DEFAULT 'OPEN',
    "deadline" TIMESTAMP(3),
    "description" TEXT NOT NULL DEFAULT '',
    "sourcePostId" TEXT,
    "branchId" TEXT,
    "assignedTo" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "JobOrder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CandidateProfile" (
    "id" TEXT NOT NULL,
    "leadId" TEXT,
    "fullName" TEXT NOT NULL,
    "phone" TEXT,
    "email" TEXT,
    "dob" TIMESTAMP(3),
    "gender" TEXT NOT NULL DEFAULT '',
    "hometown" TEXT NOT NULL DEFAULT '',
    "education" TEXT NOT NULL DEFAULT '',
    "currentJob" TEXT NOT NULL DEFAULT '',
    "desiredMarket" "RecruitmentMarket",
    "desiredIndustry" TEXT NOT NULL DEFAULT '',
    "desiredVisaType" "VisaType",
    "japaneseLevel" TEXT NOT NULL DEFAULT 'NONE',
    "otherLanguage" TEXT NOT NULL DEFAULT '',
    "stage" "CandidateStage" NOT NULL DEFAULT 'NEW',
    "matchedJobOrderId" TEXT,
    "branchId" TEXT,
    "assignedTo" TEXT,
    "note" TEXT,
    "source" TEXT NOT NULL DEFAULT '',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CandidateProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CandidateStageHistory" (
    "id" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "previousStage" TEXT NOT NULL,
    "newStage" TEXT NOT NULL,
    "note" TEXT,
    "actor" TEXT NOT NULL,
    "changedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CandidateStageHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KnowledgeEntry" (
    "id" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "tags" JSONB NOT NULL DEFAULT '[]',
    "market" TEXT,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "KnowledgeEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TrendSignal" (
    "id" TEXT NOT NULL,
    "market" TEXT NOT NULL,
    "keyword" TEXT NOT NULL,
    "topic" TEXT NOT NULL DEFAULT '',
    "intent" TEXT NOT NULL DEFAULT '',
    "demandScore" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "rationale" TEXT NOT NULL DEFAULT '',
    "sources" JSONB NOT NULL DEFAULT '[]',
    "status" "TrendStatus" NOT NULL DEFAULT 'DISCOVERED',
    "discoveredAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TrendSignal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContentPlan" (
    "id" TEXT NOT NULL,
    "market" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "objective" TEXT NOT NULL DEFAULT 'Lead',
    "periodFrom" TIMESTAMP(3) NOT NULL,
    "periodTo" TIMESTAMP(3) NOT NULL,
    "status" "ContentPlanStatus" NOT NULL DEFAULT 'DRAFT',
    "notes" TEXT NOT NULL DEFAULT '',
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ContentPlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContentPlanItem" (
    "id" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "market" TEXT NOT NULL,
    "channel" TEXT NOT NULL,
    "format" TEXT NOT NULL,
    "topic" TEXT NOT NULL,
    "keyword" TEXT NOT NULL DEFAULT '',
    "objective" TEXT NOT NULL DEFAULT 'Lead',
    "targetDate" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'PLANNED',
    "draftId" TEXT,
    "trendId" TEXT,
    "orderIndex" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ContentPlanItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GeneratedAsset" (
    "id" TEXT NOT NULL,
    "draftId" TEXT,
    "kind" TEXT NOT NULL,
    "templateId" TEXT,
    "prompt" TEXT NOT NULL DEFAULT '',
    "spec" JSONB NOT NULL DEFAULT '{}',
    "status" TEXT NOT NULL DEFAULT 'SPEC_READY',
    "storageKey" TEXT,
    "mimeType" TEXT,
    "provider" TEXT NOT NULL DEFAULT 'none',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GeneratedAsset_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BrandTemplate" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "kind" TEXT NOT NULL,
    "spec" JSONB NOT NULL DEFAULT '{}',
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BrandTemplate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CompanyReport" (
    "id" TEXT NOT NULL,
    "reportType" "ReportType" NOT NULL,
    "periodFrom" TIMESTAMP(3) NOT NULL,
    "periodTo" TIMESTAMP(3) NOT NULL,
    "periodLabel" TEXT NOT NULL,
    "status" "ReportStatus" NOT NULL DEFAULT 'DRAFT',
    "content" JSONB NOT NULL,
    "aiGenerated" BOOLEAN NOT NULL DEFAULT false,
    "scopeUserId" TEXT,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CompanyReport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DocumentChecklistItem" (
    "id" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "status" "DocSubmissionStatus" NOT NULL DEFAULT 'PENDING',
    "required" BOOLEAN NOT NULL DEFAULT true,
    "source" "DocSource" NOT NULL DEFAULT 'DEFAULT',
    "note" TEXT,
    "submittedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DocumentChecklistItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DocumentTypeCatalog" (
    "id" TEXT NOT NULL,
    "market" TEXT NOT NULL,
    "docs" JSONB NOT NULL DEFAULT '[]',
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DocumentTypeCatalog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "recipientUserId" TEXT NOT NULL,
    "kind" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "refType" TEXT,
    "refId" TEXT,
    "read" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ActivityLog" (
    "id" TEXT NOT NULL,
    "actorUserId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "targetType" TEXT NOT NULL,
    "targetId" TEXT NOT NULL,
    "detail" JSONB NOT NULL DEFAULT '{}',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ActivityLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IntakeConversation" (
    "id" TEXT NOT NULL,
    "channel" "IntakeChannel" NOT NULL,
    "externalUserId" TEXT NOT NULL,
    "displayName" TEXT,
    "flowKey" TEXT NOT NULL DEFAULT 'xkld_default',
    "status" "IntakeStatus" NOT NULL DEFAULT 'ACTIVE',
    "currentFieldKey" TEXT,
    "collected" JSONB NOT NULL DEFAULT '{}',
    "leadId" TEXT,
    "candidateId" TEXT,
    "assignedTo" TEXT,
    "lastInboundAt" TIMESTAMP(3),
    "lastOutboundAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "IntakeConversation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IntakeMessage" (
    "id" TEXT NOT NULL,
    "conversationId" TEXT NOT NULL,
    "direction" "IntakeDirection" NOT NULL,
    "text" TEXT NOT NULL,
    "fieldKey" TEXT,
    "raw" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "IntakeMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PartnerOrg" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" "PartnerType" NOT NULL DEFAULT 'EMPLOYER',
    "country" TEXT NOT NULL DEFAULT '',
    "contactName" TEXT NOT NULL DEFAULT '',
    "phone" TEXT NOT NULL DEFAULT '',
    "email" TEXT NOT NULL DEFAULT '',
    "status" "PartnerStatus" NOT NULL DEFAULT 'ACTIVE',
    "notes" TEXT NOT NULL DEFAULT '',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PartnerOrg_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DestinationProgram" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "country" TEXT NOT NULL,
    "visaType" TEXT NOT NULL DEFAULT '',
    "partnerId" TEXT,
    "minAge" INTEGER,
    "maxAge" INTEGER,
    "gender" TEXT NOT NULL DEFAULT 'ANY',
    "requiredLanguage" TEXT NOT NULL DEFAULT '',
    "minLanguageLevel" TEXT NOT NULL DEFAULT '',
    "budgetMinVndM" INTEGER,
    "budgetMaxVndM" INTEGER,
    "tuitionPerYearVndM" INTEGER,
    "livingCostPerYearVndM" INTEGER,
    "scholarshipMaxPct" INTEGER,
    "minGpa" DOUBLE PRECISION,
    "minIelts" DOUBLE PRECISION,
    "minToefl" INTEGER,
    "minJlpt" TEXT,
    "selectivityTier" TEXT,
    "industries" JSONB NOT NULL DEFAULT '[]',
    "conditions" JSONB NOT NULL DEFAULT '[]',
    "status" "DestinationStatus" NOT NULL DEFAULT 'OPEN',
    "notes" TEXT NOT NULL DEFAULT '',
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DestinationProgram_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VisaCase" (
    "id" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "country" TEXT NOT NULL,
    "visaType" TEXT NOT NULL DEFAULT '',
    "status" "VisaCaseStatus" NOT NULL DEFAULT 'OPEN',
    "targetIntakeDate" TIMESTAMP(3),
    "submissionDeadline" TIMESTAMP(3),
    "aiGenerated" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT NOT NULL DEFAULT '',
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VisaCase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VisaTask" (
    "id" TEXT NOT NULL,
    "caseId" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "category" "VisaTaskCategory" NOT NULL DEFAULT 'DOCUMENT',
    "required" BOOLEAN NOT NULL DEFAULT true,
    "status" "VisaTaskStatus" NOT NULL DEFAULT 'PENDING',
    "dueAt" TIMESTAMP(3),
    "note" TEXT,
    "source" TEXT NOT NULL DEFAULT 'DEFAULT',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VisaTask_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LogisticsPlan" (
    "id" TEXT NOT NULL,
    "caseId" TEXT NOT NULL,
    "flightInfo" JSONB,
    "insuranceType" TEXT NOT NULL DEFAULT '',
    "insuranceInfo" JSONB,
    "pickupService" TEXT NOT NULL DEFAULT '',
    "pickupInfo" JSONB,
    "housingType" TEXT NOT NULL DEFAULT '',
    "housingInfo" JSONB,
    "aiGenerated" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT NOT NULL DEFAULT '',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LogisticsPlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FollowUpTask" (
    "id" TEXT NOT NULL,
    "conversationId" TEXT,
    "candidateId" TEXT,
    "leadId" TEXT,
    "channel" TEXT NOT NULL,
    "externalUserId" TEXT NOT NULL,
    "reason" TEXT NOT NULL DEFAULT '',
    "topic" TEXT NOT NULL DEFAULT '',
    "message" TEXT NOT NULL DEFAULT '',
    "status" "FollowUpStatus" NOT NULL DEFAULT 'PENDING',
    "dueAt" TIMESTAMP(3) NOT NULL,
    "sentAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "FollowUpTask_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AcademicProfile" (
    "id" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "gpa" DOUBLE PRECISION,
    "gpaScale" DOUBLE PRECISION,
    "ielts" DOUBLE PRECISION,
    "toefl" INTEGER,
    "jlpt" TEXT,
    "educationLevel" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AcademicProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EssayDraft" (
    "id" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "docType" "EssayDocType" NOT NULL,
    "programId" TEXT,
    "content" TEXT NOT NULL,
    "aiGenerated" BOOLEAN NOT NULL DEFAULT false,
    "status" "EssayStatus" NOT NULL DEFAULT 'DRAFT',
    "approvedBy" TEXT,
    "approvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EssayDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InterviewSession" (
    "id" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "country" TEXT NOT NULL,
    "visaType" TEXT NOT NULL DEFAULT '',
    "questions" JSONB NOT NULL DEFAULT '[]',
    "answers" JSONB NOT NULL DEFAULT '{}',
    "feedback" JSONB NOT NULL DEFAULT '{}',
    "score" DOUBLE PRECISION,
    "assignedAtCreation" TEXT,
    "aiGenerated" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InterviewSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApplicationCase" (
    "id" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "programId" TEXT,
    "intakeLabel" TEXT NOT NULL,
    "targetIntakeDate" TIMESTAMP(3),
    "status" "ApplicationStatus" NOT NULL DEFAULT 'PLANNING',
    "visaCaseId" TEXT,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ApplicationCase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApplicationDueItem" (
    "id" TEXT NOT NULL,
    "caseId" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "category" TEXT NOT NULL DEFAULT 'DOCUMENT',
    "required" BOOLEAN NOT NULL DEFAULT true,
    "dueAt" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "done" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ApplicationDueItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ReminderLog" (
    "id" TEXT NOT NULL,
    "dueItemId" TEXT NOT NULL,
    "dueItemType" TEXT NOT NULL DEFAULT 'APPLICATION',
    "windowKey" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "notificationId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ReminderLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RoadmapNarrative" (
    "id" TEXT NOT NULL,
    "candidateId" TEXT NOT NULL,
    "programId" TEXT,
    "estimate" JSONB NOT NULL,
    "narrative" TEXT NOT NULL,
    "aiGenerated" BOOLEAN NOT NULL DEFAULT false,
    "status" "EssayStatus" NOT NULL DEFAULT 'DRAFT',
    "approvedBy" TEXT,
    "approvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RoadmapNarrative_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WebhookDelivery" (
    "id" TEXT NOT NULL,
    "source" TEXT NOT NULL,
    "deliveryId" TEXT NOT NULL,
    "signature" TEXT,
    "receivedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WebhookDelivery_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ConsentRecord" (
    "id" TEXT NOT NULL,
    "subjectType" "ConsentSubjectType" NOT NULL,
    "subjectId" TEXT NOT NULL,
    "scope" "ConsentScope" NOT NULL,
    "action" "ConsentAction" NOT NULL DEFAULT 'GRANTED',
    "source" TEXT NOT NULL DEFAULT '',
    "note" TEXT,
    "actor" TEXT NOT NULL DEFAULT 'system',
    "recordedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ConsentRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ErasureRequest" (
    "id" TEXT NOT NULL,
    "subjectType" "ConsentSubjectType" NOT NULL,
    "subjectId" TEXT NOT NULL,
    "status" "ErasureStatus" NOT NULL DEFAULT 'REQUESTED',
    "reason" TEXT NOT NULL DEFAULT '',
    "requestedBy" TEXT NOT NULL,
    "processedBy" TEXT,
    "erasedSummary" JSONB NOT NULL DEFAULT '{}',
    "requestedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "processedAt" TIMESTAMP(3),

    CONSTRAINT "ErasureRequest_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "UserAccount_username_key" ON "UserAccount"("username");

-- CreateIndex
CREATE INDEX "JwtSession_userId_idx" ON "JwtSession"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "PlatformToken_platform_key" ON "PlatformToken"("platform");

-- CreateIndex
CREATE UNIQUE INDEX "DomainContext_domainName_key" ON "DomainContext"("domainName");

-- CreateIndex
CREATE INDEX "ContentDraft_createdAt_idx" ON "ContentDraft"("createdAt");

-- CreateIndex
CREATE INDEX "ContentDraft_status_idx" ON "ContentDraft"("status");

-- CreateIndex
CREATE UNIQUE INDEX "ScheduledPost_idempotencyKey_key" ON "ScheduledPost"("idempotencyKey");

-- CreateIndex
CREATE INDEX "ScheduledPost_status_scheduledAt_idx" ON "ScheduledPost"("status", "scheduledAt");

-- CreateIndex
CREATE UNIQUE INDEX "ScheduledPost_platform_idempotencyKey_key" ON "ScheduledPost"("platform", "idempotencyKey");

-- CreateIndex
CREATE INDEX "AnalyticsRecord_publishedPostId_collectedAt_idx" ON "AnalyticsRecord"("publishedPostId", "collectedAt");

-- CreateIndex
CREATE INDEX "PerformanceRecord_scoredAt_idx" ON "PerformanceRecord"("scoredAt");

-- CreateIndex
CREATE INDEX "PerformanceRecord_contentTopic_scoredAt_idx" ON "PerformanceRecord"("contentTopic", "scoredAt");

-- CreateIndex
CREATE INDEX "LearningInsight_insightStatus_generatedAt_idx" ON "LearningInsight"("insightStatus", "generatedAt");

-- CreateIndex
CREATE UNIQUE INDEX "Lead_dedupKey_key" ON "Lead"("dedupKey");

-- CreateIndex
CREATE INDEX "Lead_source_idx" ON "Lead"("source");

-- CreateIndex
CREATE INDEX "Lead_platform_idx" ON "Lead"("platform");

-- CreateIndex
CREATE INDEX "Lead_status_idx" ON "Lead"("status");

-- CreateIndex
CREATE INDEX "Lead_createdAt_idx" ON "Lead"("createdAt");

-- CreateIndex
CREATE INDEX "Lead_contentPostId_idx" ON "Lead"("contentPostId");

-- CreateIndex
CREATE INDEX "Lead_domainCategory_contentTopic_idx" ON "Lead"("domainCategory", "contentTopic");

-- CreateIndex
CREATE INDEX "Lead_assignedTo_idx" ON "Lead"("assignedTo");

-- CreateIndex
CREATE UNIQUE INDEX "ServiceAccount_name_key" ON "ServiceAccount"("name");

-- CreateIndex
CREATE UNIQUE INDEX "ServicePermission_serviceAccountId_module_action_key" ON "ServicePermission"("serviceAccountId", "module", "action");

-- CreateIndex
CREATE UNIQUE INDEX "LeadAssignment_leadId_key" ON "LeadAssignment"("leadId");

-- CreateIndex
CREATE INDEX "LeadAssignment_userId_idx" ON "LeadAssignment"("userId");

-- CreateIndex
CREATE INDEX "WorkflowRun_status_idx" ON "WorkflowRun"("status");

-- CreateIndex
CREATE INDEX "WorkflowRun_type_idx" ON "WorkflowRun"("type");

-- CreateIndex
CREATE INDEX "WorkflowStep_runId_idx" ON "WorkflowStep"("runId");

-- CreateIndex
CREATE UNIQUE INDEX "Branch_code_key" ON "Branch"("code");

-- CreateIndex
CREATE UNIQUE INDEX "JobOrder_code_key" ON "JobOrder"("code");

-- CreateIndex
CREATE INDEX "JobOrder_market_idx" ON "JobOrder"("market");

-- CreateIndex
CREATE INDEX "JobOrder_visaType_idx" ON "JobOrder"("visaType");

-- CreateIndex
CREATE INDEX "JobOrder_industry_idx" ON "JobOrder"("industry");

-- CreateIndex
CREATE INDEX "JobOrder_status_idx" ON "JobOrder"("status");

-- CreateIndex
CREATE INDEX "JobOrder_code_idx" ON "JobOrder"("code");

-- CreateIndex
CREATE INDEX "JobOrder_assignedTo_idx" ON "JobOrder"("assignedTo");

-- CreateIndex
CREATE UNIQUE INDEX "CandidateProfile_leadId_key" ON "CandidateProfile"("leadId");

-- CreateIndex
CREATE INDEX "CandidateProfile_stage_idx" ON "CandidateProfile"("stage");

-- CreateIndex
CREATE INDEX "CandidateProfile_desiredMarket_idx" ON "CandidateProfile"("desiredMarket");

-- CreateIndex
CREATE INDEX "CandidateProfile_assignedTo_idx" ON "CandidateProfile"("assignedTo");

-- CreateIndex
CREATE INDEX "CandidateProfile_matchedJobOrderId_idx" ON "CandidateProfile"("matchedJobOrderId");

-- CreateIndex
CREATE INDEX "CandidateProfile_branchId_idx" ON "CandidateProfile"("branchId");

-- CreateIndex
CREATE INDEX "KnowledgeEntry_category_idx" ON "KnowledgeEntry"("category");

-- CreateIndex
CREATE INDEX "KnowledgeEntry_active_idx" ON "KnowledgeEntry"("active");

-- CreateIndex
CREATE INDEX "TrendSignal_market_idx" ON "TrendSignal"("market");

-- CreateIndex
CREATE INDEX "TrendSignal_status_idx" ON "TrendSignal"("status");

-- CreateIndex
CREATE INDEX "TrendSignal_keyword_idx" ON "TrendSignal"("keyword");

-- CreateIndex
CREATE INDEX "ContentPlan_market_idx" ON "ContentPlan"("market");

-- CreateIndex
CREATE INDEX "ContentPlan_status_idx" ON "ContentPlan"("status");

-- CreateIndex
CREATE INDEX "ContentPlanItem_planId_idx" ON "ContentPlanItem"("planId");

-- CreateIndex
CREATE INDEX "ContentPlanItem_status_idx" ON "ContentPlanItem"("status");

-- CreateIndex
CREATE INDEX "GeneratedAsset_draftId_idx" ON "GeneratedAsset"("draftId");

-- CreateIndex
CREATE INDEX "GeneratedAsset_kind_idx" ON "GeneratedAsset"("kind");

-- CreateIndex
CREATE INDEX "GeneratedAsset_status_idx" ON "GeneratedAsset"("status");

-- CreateIndex
CREATE UNIQUE INDEX "BrandTemplate_name_key" ON "BrandTemplate"("name");

-- CreateIndex
CREATE INDEX "BrandTemplate_kind_idx" ON "BrandTemplate"("kind");

-- CreateIndex
CREATE INDEX "BrandTemplate_active_idx" ON "BrandTemplate"("active");

-- CreateIndex
CREATE INDEX "CompanyReport_reportType_periodFrom_idx" ON "CompanyReport"("reportType", "periodFrom");

-- CreateIndex
CREATE INDEX "CompanyReport_status_idx" ON "CompanyReport"("status");

-- CreateIndex
CREATE UNIQUE INDEX "CompanyReport_reportType_periodLabel_scopeUserId_key" ON "CompanyReport"("reportType", "periodLabel", "scopeUserId");

-- CreateIndex
CREATE INDEX "DocumentChecklistItem_candidateId_idx" ON "DocumentChecklistItem"("candidateId");

-- CreateIndex
CREATE INDEX "DocumentChecklistItem_status_idx" ON "DocumentChecklistItem"("status");

-- CreateIndex
CREATE UNIQUE INDEX "DocumentTypeCatalog_market_key" ON "DocumentTypeCatalog"("market");

-- CreateIndex
CREATE INDEX "Notification_recipientUserId_createdAt_idx" ON "Notification"("recipientUserId", "createdAt");

-- CreateIndex
CREATE INDEX "Notification_read_idx" ON "Notification"("read");

-- CreateIndex
CREATE INDEX "ActivityLog_actorUserId_idx" ON "ActivityLog"("actorUserId");

-- CreateIndex
CREATE INDEX "ActivityLog_targetType_targetId_idx" ON "ActivityLog"("targetType", "targetId");

-- CreateIndex
CREATE INDEX "ActivityLog_createdAt_idx" ON "ActivityLog"("createdAt");

-- CreateIndex
CREATE INDEX "IntakeConversation_status_idx" ON "IntakeConversation"("status");

-- CreateIndex
CREATE INDEX "IntakeConversation_candidateId_idx" ON "IntakeConversation"("candidateId");

-- CreateIndex
CREATE INDEX "IntakeConversation_leadId_idx" ON "IntakeConversation"("leadId");

-- CreateIndex
CREATE UNIQUE INDEX "IntakeConversation_channel_externalUserId_key" ON "IntakeConversation"("channel", "externalUserId");

-- CreateIndex
CREATE INDEX "IntakeMessage_conversationId_idx" ON "IntakeMessage"("conversationId");

-- CreateIndex
CREATE INDEX "PartnerOrg_type_idx" ON "PartnerOrg"("type");

-- CreateIndex
CREATE INDEX "PartnerOrg_country_idx" ON "PartnerOrg"("country");

-- CreateIndex
CREATE INDEX "PartnerOrg_status_idx" ON "PartnerOrg"("status");

-- CreateIndex
CREATE INDEX "DestinationProgram_country_idx" ON "DestinationProgram"("country");

-- CreateIndex
CREATE INDEX "DestinationProgram_status_idx" ON "DestinationProgram"("status");

-- CreateIndex
CREATE INDEX "DestinationProgram_active_idx" ON "DestinationProgram"("active");

-- CreateIndex
CREATE INDEX "VisaCase_candidateId_idx" ON "VisaCase"("candidateId");

-- CreateIndex
CREATE INDEX "VisaCase_country_idx" ON "VisaCase"("country");

-- CreateIndex
CREATE INDEX "VisaCase_status_idx" ON "VisaCase"("status");

-- CreateIndex
CREATE INDEX "VisaCase_submissionDeadline_idx" ON "VisaCase"("submissionDeadline");

-- CreateIndex
CREATE INDEX "VisaTask_caseId_idx" ON "VisaTask"("caseId");

-- CreateIndex
CREATE INDEX "VisaTask_status_idx" ON "VisaTask"("status");

-- CreateIndex
CREATE INDEX "VisaTask_dueAt_idx" ON "VisaTask"("dueAt");

-- CreateIndex
CREATE UNIQUE INDEX "LogisticsPlan_caseId_key" ON "LogisticsPlan"("caseId");

-- CreateIndex
CREATE INDEX "FollowUpTask_status_dueAt_idx" ON "FollowUpTask"("status", "dueAt");

-- CreateIndex
CREATE INDEX "FollowUpTask_conversationId_idx" ON "FollowUpTask"("conversationId");

-- CreateIndex
CREATE INDEX "FollowUpTask_externalUserId_idx" ON "FollowUpTask"("externalUserId");

-- CreateIndex
CREATE UNIQUE INDEX "AcademicProfile_candidateId_key" ON "AcademicProfile"("candidateId");

-- CreateIndex
CREATE INDEX "AcademicProfile_candidateId_idx" ON "AcademicProfile"("candidateId");

-- CreateIndex
CREATE INDEX "EssayDraft_candidateId_idx" ON "EssayDraft"("candidateId");

-- CreateIndex
CREATE INDEX "EssayDraft_status_idx" ON "EssayDraft"("status");

-- CreateIndex
CREATE INDEX "InterviewSession_candidateId_idx" ON "InterviewSession"("candidateId");

-- CreateIndex
CREATE INDEX "ApplicationCase_candidateId_idx" ON "ApplicationCase"("candidateId");

-- CreateIndex
CREATE INDEX "ApplicationCase_status_idx" ON "ApplicationCase"("status");

-- CreateIndex
CREATE INDEX "ApplicationDueItem_caseId_idx" ON "ApplicationDueItem"("caseId");

-- CreateIndex
CREATE INDEX "ApplicationDueItem_dueAt_idx" ON "ApplicationDueItem"("dueAt");

-- CreateIndex
CREATE INDEX "ReminderLog_status_idx" ON "ReminderLog"("status");

-- CreateIndex
CREATE UNIQUE INDEX "ReminderLog_dueItemId_windowKey_key" ON "ReminderLog"("dueItemId", "windowKey");

-- CreateIndex
CREATE INDEX "RoadmapNarrative_candidateId_idx" ON "RoadmapNarrative"("candidateId");

-- CreateIndex
CREATE INDEX "RoadmapNarrative_status_idx" ON "RoadmapNarrative"("status");

-- CreateIndex
CREATE INDEX "WebhookDelivery_receivedAt_idx" ON "WebhookDelivery"("receivedAt");

-- CreateIndex
CREATE UNIQUE INDEX "WebhookDelivery_source_deliveryId_key" ON "WebhookDelivery"("source", "deliveryId");

-- CreateIndex
CREATE INDEX "ConsentRecord_subjectType_subjectId_idx" ON "ConsentRecord"("subjectType", "subjectId");

-- CreateIndex
CREATE INDEX "ConsentRecord_scope_idx" ON "ConsentRecord"("scope");

-- CreateIndex
CREATE INDEX "ConsentRecord_recordedAt_idx" ON "ConsentRecord"("recordedAt");

-- CreateIndex
CREATE INDEX "ErasureRequest_subjectType_subjectId_idx" ON "ErasureRequest"("subjectType", "subjectId");

-- CreateIndex
CREATE INDEX "ErasureRequest_status_idx" ON "ErasureRequest"("status");

-- AddForeignKey
ALTER TABLE "JwtSession" ADD CONSTRAINT "JwtSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES "UserAccount"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContentPersona" ADD CONSTRAINT "ContentPersona_domainId_fkey" FOREIGN KEY ("domainId") REFERENCES "DomainContext"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContentDraft" ADD CONSTRAINT "ContentDraft_domainId_fkey" FOREIGN KEY ("domainId") REFERENCES "DomainContext"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContentDraft" ADD CONSTRAINT "ContentDraft_personaId_fkey" FOREIGN KEY ("personaId") REFERENCES "ContentPersona"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DraftCta" ADD CONSTRAINT "DraftCta_draftId_fkey" FOREIGN KEY ("draftId") REFERENCES "ContentDraft"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MediaAsset" ADD CONSTRAINT "MediaAsset_draftId_fkey" FOREIGN KEY ("draftId") REFERENCES "ContentDraft"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduledPost" ADD CONSTRAINT "ScheduledPost_draftId_fkey" FOREIGN KEY ("draftId") REFERENCES "ContentDraft"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Lead" ADD CONSTRAINT "Lead_assignedTo_fkey" FOREIGN KEY ("assignedTo") REFERENCES "UserAccount"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LeadHistoryEntry" ADD CONSTRAINT "LeadHistoryEntry_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("leadId") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ServicePermission" ADD CONSTRAINT "ServicePermission_serviceAccountId_fkey" FOREIGN KEY ("serviceAccountId") REFERENCES "ServiceAccount"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkflowStep" ADD CONSTRAINT "WorkflowStep_runId_fkey" FOREIGN KEY ("runId") REFERENCES "WorkflowRun"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JobOrder" ADD CONSTRAINT "JobOrder_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "Branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CandidateProfile" ADD CONSTRAINT "CandidateProfile_matchedJobOrderId_fkey" FOREIGN KEY ("matchedJobOrderId") REFERENCES "JobOrder"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CandidateProfile" ADD CONSTRAINT "CandidateProfile_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "Branch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CandidateStageHistory" ADD CONSTRAINT "CandidateStageHistory_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "CandidateProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContentPlanItem" ADD CONSTRAINT "ContentPlanItem_planId_fkey" FOREIGN KEY ("planId") REFERENCES "ContentPlan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GeneratedAsset" ADD CONSTRAINT "GeneratedAsset_draftId_fkey" FOREIGN KEY ("draftId") REFERENCES "ContentDraft"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DocumentChecklistItem" ADD CONSTRAINT "DocumentChecklistItem_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "CandidateProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_recipientUserId_fkey" FOREIGN KEY ("recipientUserId") REFERENCES "UserAccount"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IntakeMessage" ADD CONSTRAINT "IntakeMessage_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES "IntakeConversation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DestinationProgram" ADD CONSTRAINT "DestinationProgram_partnerId_fkey" FOREIGN KEY ("partnerId") REFERENCES "PartnerOrg"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VisaTask" ADD CONSTRAINT "VisaTask_caseId_fkey" FOREIGN KEY ("caseId") REFERENCES "VisaCase"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LogisticsPlan" ADD CONSTRAINT "LogisticsPlan_caseId_fkey" FOREIGN KEY ("caseId") REFERENCES "VisaCase"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AcademicProfile" ADD CONSTRAINT "AcademicProfile_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "CandidateProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EssayDraft" ADD CONSTRAINT "EssayDraft_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "CandidateProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InterviewSession" ADD CONSTRAINT "InterviewSession_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "CandidateProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationCase" ADD CONSTRAINT "ApplicationCase_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "CandidateProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationDueItem" ADD CONSTRAINT "ApplicationDueItem_caseId_fkey" FOREIGN KEY ("caseId") REFERENCES "ApplicationCase"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RoadmapNarrative" ADD CONSTRAINT "RoadmapNarrative_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "CandidateProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

